.login-container {
  background-color: #1f1f1f;
  color: #f0f0f0;
  padding: 40px;
  max-width: 400px;
  margin: 80px auto;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 24px;
  color: #04aa6d;
  font-size: 28px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: none;
  border-radius: 6px;
  background-color: #2c2c2c;
  color: white;
  font-size: 16px;
}

.login-form input::placeholder {
  color: #aaa;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #04aa6d;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #028a5e;
}

.error-text {
  color: red;
  margin-top: 20px;
  font-weight: 700;
}
.login-form button.reset {
  background-color: transparent;
  color: #aaa;
  transition: 0.3s;
}
.login-form button.reset:hover{
  color: white;
}
